.bg-wall{
    background-image: url("../img/wall.png");
}
.fs-80{
    font-size: 80px;
}
.bg-cork{
    background-image: url("../img/cork.png");
}

.p-15{
    padding: 15px;
}

.img-card{
    height: 600px;
    width: 600px;
}

.pt-50{
    padding-top: 50px;
}

.left-50{
    left: 50%;
}
.transform-trans-50{
    transform: translateX(-50%);
}
.top-10px{
    top: -10px;
}

.top-25{
    top: 25%;
}
.overlay{ 
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 13;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
}

.z-index-2{
    z-index: 2;
} 
.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.h-50{
    height: 50%;

}
.w-25{
    width: 25%;
}
.absolute.opacity-100{
    opacity: 100%;
}

.right-0{
    right: 0;
}