.bg-wall{
    background-image: url("../img/wall.png");
}
.fs-80{
    font-size: 80px;
}
.bg-cork{
    background-image: url("../img/cork.png");
}

.p-15{
    padding: 15px;
}

.img-card{
    height: 600px;
    width: 600px;
}

.pt-50{
    padding-top: 50px;
}

.left-50{
    left: 50%;
}
.transform-trans-50{
    transform: translateX(-50%);
}
.top-10px{
    top: -10px;
}